footer {
    background: linear-gradient(to left, rgb(46, 105, 233), rgba(141, 93, 160, 0.835), #b30ea5);
    
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;

    display: flex;

    font-size: 14px;
    color: #fff;
    padding: 20px;
    font-weight: 500;
    width: 100%;
    justify-content: space-around;
}

footer .footer__p {
    padding: 5px;
    /* font-size: 14px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer button {
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 800;
    font-size: 1rem;
    font-weight: 600;
}

/* footer das professoras */

/* .disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
} */